<h1><%= "#{@user.username}'s Page" %></h1>

<h4>Posts:</h4>

<ul>
  <% @user.posts.each do |post| %>
    <li> Title: <%= post.title %> </li>
    <p> Content: <%= post.content %> </p>
  <% end %>
</ul>
